<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdomteam.warehouse.mapper.PreFoodsMapper" >
  <resultMap id="BaseResultMap" type="com.wisdomteam.warehouse.bean.PreFoods" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="food_id" property="foodId" jdbcType="INTEGER" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_type_id" property="foodTypeId" jdbcType="INTEGER" />
    <result column="food_price" property="foodPrice" jdbcType="DOUBLE" />
    <result column="food_nums" property="foodNums" jdbcType="INTEGER" />
    <result column="food_shelflife" property="foodShelflife" jdbcType="INTEGER" />
    <result column="food_producer" property="foodProducer" jdbcType="VARCHAR" />
    <result column="food_shelves_id" property="foodShelvesId" jdbcType="INTEGER" />
    <result column="food_house_id" property="foodHouseId" jdbcType="INTEGER" />
    <result column="food_storagetime" property="foodStoragetime" jdbcType="INTEGER" />
  </resultMap>
</mapper>